﻿<!DOCTYPE html>
<html>
<head>
    <title>Betting odds</title>
    <meta charset="utf-8" />
    <base href="/" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="styles/angular-ui-notification.min.css" rel="stylesheet" />
    <link href="styles/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--Dependenceies-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="scripts/libs/notifications/angular-ui-notification.min.js"></script>

    <!--Application scripts-->
    <script src="scripts/app.js"></script>
    <script src="scripts/sports/sports-services.js"></script>
    <script src="scripts/events/events-service.js"></script>
    <script src="scripts/matches/matches-service.js"></script>
    <script src="scripts/sports/sports-controller.js"></script>
    <script src="scripts/events/events-controller.js"></script>
    <script src="scripts/matches/matches-controllers.js"></script>
    <script src="scripts/home/home-controller.js"></script>

    <div class="page-container">
        <div class="container" ng-app="bettingOdds" ng-controller="SportsController"  ng-cloak>
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- sidebar -->
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li ng-repeat="sport in sports"><a ng-href="/event/:{{sport.ID}}" ng-click="setCurrentSport(sport.ID)">{{sport.Name}}</a></li>
                    </ul>
                </div>

                <!-- main area -->
                <div class="col-xs-12 col-sm-9">
                    <div ng-view></div>
                </div><!-- /.col-xs-12 main -->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.page-container--> 
</body>
</html>
