﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    padding-top: 51px;
}

.text-center {
    padding-top: 20px;
}

.col-xs-12 {
    background-color: #fff;
}

#sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 20px;
}

    #sidebar .nav {
        width: 95%;
    }

    #sidebar li {
        border: 0 #f2f2f2 solid;
        border-bottom-width: 1px;
    }

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -41.6%;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -41.6%;
    }

    .row-offcanvas-right.active {
        right: 41.6%;
    }

    .row-offcanvas-left.active {
        left: 41.6%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }

    #sidebar {
        padding-top: 0;
    }
}

.live-event {
    width: 50px;
    height: 50px;
}