﻿<div ng-class="container">
    <h4>{{title}}</h4>
    <table class="table table-striped" ng-repeat="match in matches">
        <thead>
            <tr>
                <th>{{match.Name}}</th>
                <th>{{match.MatchType}}</th>
                <th>{{match.StartDate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bet in match.Bets">
                <td>{{bet.Name}}</td>
                <td><img src="../../live-icon.png" ng-if="bet.IsLive" /></td>
                <td>
                    <table class="table" ng-if="bet.Odds.length != 0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                                <th>Special valued</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="odd in bet.Odds">
                                <td>{{odd.Name}}</td>
                                <td>{{odd.Value}}</td>
                                <td>{{odd.SpecialBetValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>