﻿<div class="containter" ng-controller="EventsController">
    <table class="table"> 
        <caption>Events</caption> 
        <thead> 
            <tr> 
                <th>Name</th> 
                <th></th>
            </tr> 
        </thead> 
        <tbody> 
            <tr ng-repeat="event in events">  
                <td><a ng-href="/match/:{{event.ID}}" ng-click="setCurrentEventID(event.ID)">{{event.Name}}</a></td> 
                <td>
                    <img src="../../live-icon.png" ng-if="event.IsLive" />
                </td>
            </tr> 
        </tbody> 
    </table>
</div>